.modal {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.item {
    cursor: pointer;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
}

.item:last-child {
    border-bottom: none;
}

.item:hover {
    background-color: #f0f0f0;
}